* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  height: 100px;
  background-color: rgba(121, 114, 111, 0.465);
  margin-bottom: 1rem 3rem;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 0%;
  
  & li {
    display: inline-block;
    padding: 1.5rem 2rem;
      }
  & li a {
        color: rgba(0, 0, 0, 0.897);
        padding: 10px;
        font-family: sans-serif;
        transition: all 500ms ease;
      }
  & li a:hover {
          background-color: rgba(11, 163, 26, 0.528);
          color: black;
          
      }
  }
    
    
    a {
  text-decoration: none;
  text-align: center;
    }

.logo {
  display: flex;
  text-align: center;
}